[submodule "extern/GreenSock-AS2"]
	path = extern/GreenSock-AS2
	url = https://github.com/greensock/GreenSock-AS2
[submodule "extern/CommonLibVR"]
	path = extern/CommonLibVR
	url = https://github.com/alandtse/CommonLibVR.git
	branch = ng
